<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- jQuery cdn -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      form {
        width: 40vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        color: #02c75a;
        font-size: 50px;
        font-weight: 800;
        /* text-align: center; */
      }

      .loginForm {
        width: 100%;
      }

      input {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.7);
        padding: 7px;
      }

      input:focus {
        outline: none;
        border: 1.3px solid #02c75a;
      }

      button {
        background-color: #02c75a;
        color: white;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        margin-top: 5px;
      }
    </style>
    <title>Prac2</title>
  </head>
  <body>
    <form name="logIn">
      <h1>NAVER</h1>
      <div class="loginForm">
        <input type="text" name="id" placeholder="ID" id="id" />
        <input type="password" name="pw" placeholder="PW" id="pw" />
        <div class="result"></div>
        <button type="button" onclick="axiosPost()">로그인</button>
      </div>
    </form>

    <script>
      const userId = "<%= id %>";
      const userPw = "<%= pw %>";
      const resultBox = document.querySelector(".result");
      function axiosPost() {
        const form = document.forms["logIn"];
        const data = {
          id: form.id.value,
          pw: form.pw.value,
        };

        // form validation
        if (!form.id.checkValidity() || !form.pw.checkValidity()) {
          resultBox.textContent = "아이디와 패스워드는 필수값입니다!";
          return;
        }

        axios({
          method: "post",
          url: "/axios",
          data: data,
        })
          .then((response) => {
            if (response.data.isSuccess) {
              // 로그인 성공
              resultBox.innerHTML = `<span style = "color: blue">로그인에 성공했습니다.</span>`;
            } else {
              resultBox.innerHTML = `<span style = "color: red">아이디와 비밀번호를 확인해주세요.</span>`;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
  </body>
</html>
