<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>profile</title>
  </head>
  <body>
    <h1>회원 정보</h1>
    <br />
    <a href="/user">HOME</a><br /><br />
    <span>ID 수정 불가능, Password, Name 수정 가능</span><br /><br />
    <form name="profile-form">
      <div>ID <input type="text" name="profile_id" placeholder="ID" /></div>
      <div>
        Password <input type="password" name="profile_pw" placeholder="PW" />
      </div>
      <div>
        Name <input type="text" name="profile_name" placeholder="NAME" />
      </div>
      <button type="button">Edit</button>
      <button type="button">Delete</button>
    </form>
    <script>
      window.onload = function () {
        axios({
          method: "post",
          url: "/user/profile",
          data: data,
        }).then((res) => {
          console.log("profile.ejs post > ", res);
        });
      };
    </script>
  </body>
</html>
