<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>prac_file upload</title>
    <style>
      .hidden {
        visibility: hidden;
      }
      .result {
        width: 250px;
        height: 400px;
        background-color: #daeaf6;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 15px;
      }
      #userId {
        font-weight: 600;
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <!-- 풀이(self) -->
    <form action="" name="signIn">
      <input type="text" name="id" id="id" placeholder="아이디" /><br />
      <input type="password" name="pw" id="pw" placeholder="비밀번호" /><br />
      <input type="text" name="name" id="name" placeholder="이름" /><br />
      <input type="text" name="age" id="age" placeholder="나이" /><br />
      <input type="file" name="image" id="image" /><br /><br />
      <button type="button" onclick="register()">회원가입</button>

      <br /><br /><br />
      <div class="result hidden">
        <img src="" alt="" />
        <span id="userId"></span>
        <span id="userPw"></span>
        <span id="userName"></span>
        <span id="userAge"></span>
      </div>
    </form>

    <hr />
    <!-- 해설 -->
    <h2>일반 폼 전송 실습</h2>
    <form action="/upload/practice" method="post" enctype="multipart/form-data">
      <input type="text" placeholder="아이디" name="id" /><br />
      <input type="file" name="profile" id="" /><br /><br />
      <button>회원가입</button>
    </form>

    <hr />
    <h2>동적 폼 전송 실습</h2>
    <form name="submit">
      <input type="text" placeholder="아이디" name="id" /><br />
      <input type="file" name="profile" id="" /><br /><br />
      <button type="button" onclick="register2()">회원가입</button>
    </form>

    <!-- 풀이(self) -->
    <script>
      const form = document.forms["signIn"];
      function register() {
        const formData = new FormData();
        const id = document.querySelector("#id");
        const pw = document.querySelector("#pw");
        const name = document.querySelector("#name");
        const age = document.querySelector("#age");
        const image = document.querySelector("#image");

        formData.append("id", id.value);
        formData.append("pw", pw.value);
        formData.append("name", name.value);
        formData.append("age", age.value);
        console.log(image.files);
        formData.append("image", image.files[0]);

        axios({
          method: "post",
          url: "/signIn",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res.data);
          const result = document.querySelector(".result");
          const { id, pw, name, age, file } = res.data;

          const imgElem = document.querySelector("img");
          const userId = document.querySelector("#userId");
          const userPw = document.querySelector("#userPw");
          const userName = document.querySelector("#userName");
          const userAge = document.querySelector("#userAge");
          imgElem.src = "/" + file.path;
          imgElem.alt = file.filename;
          userId.textContent = `${id}님 환영합니다!`;
          userPw.textContent = `비밀번호: ${pw}`;
          userName.textContent = `이름: ${name}`;
          userAge.textContent = `나이: ${age}`;

          result.classList.remove("hidden");
        });
      }
    </script>

    <!-- 해설 -->
    <script>
      function register2() {
        const form = document.forms["submit"];
        const formData = new FormData();
        // 일반 폼전송과 동적 폼전송의 차이: FormData() 사용
        console.log(form);
        console.log(form.id); // id 요소
        console.log(form.profile); // file 요소

        console.log(form.profile.files);
        console.log(form.profile.files[0].name);

        const userId = form.id.value;
        const file = form.profile.files[0];
        const fileName = file.name;

        /*
        // -- 프론트에서 파일명 변경
        // 변경 X
        // form.profile.files[0].name = form.id.value;
        // console.log("변경 후", form.profile.files[0].name);

        // 확장자
        const ext = fileName.split(".")[1];
        console.log("ext > ", ext);

        const newFile = new File([file], `${userId}.${ext}`, {
          type: file.type,
        });

        console.log("newFile > ", newFile);

        formData.append("profile", newFile);
        */

        // multer 세부설정에서 req.body를 쓰고 싶다면, 파일을 맨 마지막에 append
        formData.append("id", userId);
        formData.append("profile", file);

        axios({
          method: "post",
          url: "/upload/practice2",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res.data);
        });
      }
    </script>
  </body>
</html>
