<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 상세 페이지</title>
  </head>
  <body>
    <h1>유저 페이지</h1>
    <a href="/">홈으로 이동하기</a><br /><br />

    아이디 <input type="text" value="<%= userInfo.realId %>" readonly /><br />
    비밀번호
    <input type="text" value="<%= userInfo.realPw  %>" readonly /><br />
    이름 <input type="text" value="<%= userInfo.name %>" readonly /><br />
    나이 <input type="text" value="<%= userInfo.age  %>" readonly /><br />
  </body>
</html>
