@import './_variable.scss';
@import './utils.scss'; // - 변수 선언 : $ 키워드 사용
// $color-red: red;
// $color-orange: orange;
// $color-yellow: yellow;
// $animation-duration: 0.4s;
// @mixin box($size) {
//   width: $size;
//   height: $size;
// }

.container {
  display: flex;

  // 중첩: 부모 자식 표현 가능
  .box {
    @include box(150px);

    // &: 부모 선택자 참조해서 치환
    &.red {
      // &.red : .box.red
      background-color: $color-red;
    }

    &.orange {
      background-color: $color-orange;
    }

    &.yellow {
      background-color: $color-yellow;
    }

    &:hover {
      // - 연산 가능
      $box-animation: $animation-duration * 2;
      transform: translateY(-20px);
      transition: transform $box-animation;
    }
  }
}

.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.btn-primary {
  // - 확장 : 기존 선택자 스타일을 다른 선택자에게 상속
  @extend .btn;
  background-color: cornflowerblue;
}

@media (max-width: $breakpoint-sm) {
  .container {
    flex-direction: column;
  }
}

// 참고. css 코드
.larva {
  position: relative;
  .body {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    &.body1 {
      top: 100px;
      left: 100px;
      background-color: rgb(0, 0, 166);
    }
    &.body2 {
      top: 150px;
      left: 160px;
      background-color: rgb(36, 61, 206);
    }
    &.body3 {
      top: 190px;
      left: 200px;
      background-color: rgb(52, 118, 231);
    }
    &.body4 {
      top: 240px;
      left: 220px;
      background-color: rgb(47, 146, 233);
    }
    &.body5 {
      top: 280px;
      left: 280px;
      background-color: rgb(140, 191, 253);
      z-index: 10;
    }
  }
  .grass {
    position: absolute;
    z-index: 9;
    top: 260px;
    left: 0;
    width: 450px;
    height: 150px;
  }
}

.eye {
  position: absolute;
  border-radius: 50%;

  &.eye-white {
    background-color: white;
    width: 27px;
    height: 27px;
    top: 28px;
    left: 28px;
  }
  &.eye-black {
    background-color: black;
    width: 17px;
    height: 17px;
    top: 4px;
  }
}
